<div class="row">
  <aside class="col-md-12">
    <h2>About</h2>
     <h2>Assignment 3 Home</h2>
        <h3 class="professional greeting">
            Welcome to my website, I will be demonstrating HTML5 principles and
            techniques.
        </h3>
          <p>This site utilizes HTML5: a markup language used for structuring and
            presenting content on the World Wide Web
            </p>
  </aside>
  <section class="main col-md-9">
    <article>


    </article>
  </section>
  <footer>
        <div class="center">
            &copy; 2022 Tej Parekh
        </div>
    </footer>
</div>