<div class="row">
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Ooops! This content doesn't exist...not yet! But we are working on it.</p>
  </aside>
  <section class="main col-md-9">
    <article>
      <h2>Welcome</h2>
      <p>Hello!</p>
      <p>Welcome to this website.</p>

    </article>
  </section>
</div>
</div>